@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h3>Vill - Mohanbati</h3>
<h3>Post - Kaikala</h3>
<h3>P.S - Haripal</h3>
<h3>Dist - Hooghly</h3>
<h3>Westbengal , pin - 712405</h3>
